<div class="kpi-first-row">
    <div *ngFor="let socialMediaKpi of socialMediaChannels" class="kpi-wrapper">
            <div class="single-kpi-first-row">
                <p class="kpi-name">{{socialMediaKpi.kpis.kpi1}}</p>
                <img src="{{socialMediaKpi.icon}}" height="20" width="20" class="social-media-icon"/>
            </div>
            <div class="single-kpi-second-row">
                <p class="kpi-value">{{socialMediaKpi.kpis.kpi1Value}}</p>
            </div>
    </div> 
</div>
<div class="kpi-second-row">
    <div *ngFor="let socialMediaKpi of socialMediaChannels" class="kpi-wrapper">
            <div class="single-kpi-first-row">
                <p class="kpi-name">{{socialMediaKpi.kpis.kpi2}}</p>
                <img src="{{socialMediaKpi.icon}}" height="20" width="20" class="social-media-icon"/>
            </div>
            <div class="single-kpi-second-row">
                <p class="kpi-value">{{socialMediaKpi.kpis.kpi2Value}}</p>
            </div>
    </div> 
</div>