@import '../../styles.sass'
@import '../social-media-channel/social-media-channel.component.sass'

.kpi-wrapper
    background-color: $theme-light-background
    padding: 1.875rem 2rem
    margin: 0 1.5rem 0 0
    border-radius: 5px
    width: 10vw
    display: flex
    flex-direction: column

.kpi-name
    font-size: 0.9rem
    font-weight: 700
    color: $theme-light-grey
    margin: 0

.kpi-value
    font-size: 2rem
    font-weight: 700
    color: $theme-light-blue
    margin: 0

.kpi-first-row
    margin: 0 0 1.5rem
    display: flex
    flex-direction: row

.kpi-second-row
    display: flex
    flex-direction: row

.single-kpi-first-row
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    padding: 0 0 1rem 0

.single-kpi-second-row
    padding: 1rem 0 0 0
    display: flex
    justify-content: space-between
    align-items: baseline