@import '../../styles.sass'

.channel-wrapper
    background-color: var(--theme-background)
    display: flex
    flex-direction: column
    align-items: center
    padding: 1rem 0.5rem
    margin: 1rem 0.5rem
    border-radius: 5px
    width: 60%

@media($desktop-width)
    .channel-wrapper
        width:10vw
        padding: 1.875rem 2rem
        margin: 0 1.5rem 0 0

.follower-count
    font-size: 2.5rem
    font-weight: bold
    margin: 0
    padding: 1rem 0 0 0
    color: var(--theme-blue)

.social-media-icon
    vertical-align: middle
    padding: 0 0.5rem 0 0

.username
    display: inline-block
    font-size: 0.8rem
    margin: 0
    color: var(--theme-blue)

.follower-label
    text-transform: uppercase
    margin: 0
    font-size: 0.8rem
    text-align: center
    letter-spacing: 2px
    padding: 0 0 1rem 0
    color: var(--theme-grey)

.follower-difference
    font-size: 0.8rem
    margin: 0
    color: $global-green
    font-weight: 700
    
    &:before
        content: "\25B2"
        padding: 0 5px 0 0