/* You can add global styles to this file, and also import other style files */

h1
    font-size: 2rem

h2
    font-size: 1.5rem

h3
    font-size: 1.25rem

p
    font-size: 1rem

$background-grey: #F0F2FA